body {
    margin: 0;
    padding: 0;
    z-index: 2;
}
.header{
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
}
.w3-content{
    min-width: auto;
    height: 100vh;
    
}
.w3-content img {
    width:1350px;
    height: 700px;
}

img.myslide{
    display: inline;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: 100vh;
}

 .w3-center{
    display: flex;
    flex:row;
    color: white;
    justify-content: center;
  
} 
.fade{
    -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
.w3-section button{
    align-self: 40px;
    background:none;
    border: none;
    position: relative;
    margin-bottom:100px;
     
}
h1{
    text-align: center;
    color: black;
    font-size: 30px;
    
}
h2{
    text-align: center;
    font-weight: 50;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.content2{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
   
}
.a1{
    width: 30%;
    height: 100%;
    float: left;
    border: 1px;

}
.a2{
    width: 30%;
    height: 100%;
    float: left;
    border: 1px;
}
.a3{
    width: 30%;
    height: 100%;
    float: left;
    border: 1px;

}

.Domains{
    background-image: url(../image/backgroug/ảnhnhà.img);
}

li{
    list-style-type: none;
    
}

ul{

    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.next {
    position: relative;
   display: flex;
   justify-content: space-between;
   

   
    
}
.w3-button{
    
    background:none;
    border: none;
}
.trang3{
    height: 600px;
    display: flex;
    justify-content: space-between;
}
.trang4{
    background-image: url(../image/backgroug/ảnhnhà.img);
   
}
.section-domain center{
    border: 1px solid #2a8282;
}
.inno{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    border-bottom: 100px;
    color:black;
}
.inno1{
    width: 100%;
    height:400px ;
    margin: 0px;
    padding:  0px 20px 0px 20px;
}
.anh{
    height: 100%;
    width: 40%;
    float: left;
}
.text3{
    height: 100%;
    width: 60%;
    float: left;
}
.trang5-2{
    display: flex;
    justify-content: center;
}
.trang5 text{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    border-bottom: 100px;
    color:black;
}